extends layout

block content
    .container.main-content
        article.message.is-danger
            .message-body
                h1.title.has-text-danger= message
                h2.subtitle.has-text-danger= statusCode
                if stack
                    pre.content.is-small #{stack}