extends layout

block content
     .section.is-medium(style='height: 638px;')
        article.message.is-danger
            .message-body
                h1.title.has-text-danger= message
                h2.subtitle.has-text-danger= statusCode           