nav.navbar.is-info
  .container
    .navbar-brand
      a.navbar-item
        strong SHOP
      .navbar-item
        button.button.is-primary.is-light View all products
    .navbar-menu
      .navbar-end
         if user
            .navbar-item  
              p #{user}
         else   
           a.navbar-item(href='') Sign in
         .navbar-item
          a(href='')
            span.icon.is-large
              i.fas.fa-shopping-cart.fa-2x