nav.navbar.is-info
  .container
    .navbar-brand
      a.navbar-item
        strong SHOP
      .navbar-item
        button.button.is-primary.is-light View all products
    .navbar-menu
      .navbar-end
         if user
            .navbar-item  
              p #{user}
         else 
          .navbar-item
            .buttons
              a.button.is-primary
                strong 
                  Sign up
               a.button.is-light Log in
        a.navbar-item
          a(href='')
            span.icon.is-large
              i.fas.fa-shopping-cart.fa-2x