nav.navbar.is-info
  .container
    .navbar-brand
      a(href='/home').navbar-item
        strong SHOP
      .navbar-item
         a(href='/products/all').button.button.is-primary.is-light View all products
    .navbar-menu
      .navbar-end
        .navbar-item 
           if user 
            .navbar-item
             .buttons
                a(href='/user/logOut').button.is-light
                  strong Log Out
            p #{user}
           else 
              .buttons
                a(href='/user/signUp').button.is-primary
                  strong Sign up
                a(href='/user/signIn').button.is-light Log in
        .navbar-item
             a(href='/shopping-cart/')
               span.icon.is-large
                 i.fas.fa-shopping-cart.fa-2x